.main-container{
    width: 60%;
    margin: 2rem auto;
}

.header{
    padding: 1rem;
    height: 200px;
}

.avatar{
    box-shadow: -1rem -1rem #02b4e1;
}

.main-info, .sub-info{
    margin: 1.5rem 2.5rem;
    align-self: flex-end;
    width: 30%;
    min-width: 250px;
}

.job-name{
    background-color: #02b4e1;
    color: white;
    padding: 0.1rem;
    width: 100%;
    text-align: center;
}

.company-item{
    margin-bottom: 1.5rem;
}

.company-name{
    font-size: 1.3rem;
}

.position-item{
    font-weight: bold;
    margin-bottom: 0px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 1.2rem;
    margin-top: 0px;
}

hr{
    margin: 0;
    border: 1px solid #02b4e1;
}

table{
    padding: 2rem 0;
    width: 100%;
}

th{
    width: 20%;
    min-width: 100px;
    padding: 0 2rem;
    color: #02b4e1;
    font-size: 1.4rem;
    text-align: right;
    vertical-align: text-top;
}

td{
    padding: 0 0 0 2rem;
}

ul, li{
    list-style-position: inside;
    padding: 0;
    margin: 10px 0;
    font-size: 1.2rem;
}