@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: Quicksand;
}

h1 {
    font-size: 2.5rem;
}

button,
input[type="submit"],
input[type="button"] {
    border       : 1px solid #dddfe2;
    outline      : none;
    border-radius: 5px;
    box-sizing   : border-box;
    font-size    : large;
    font-weight  : bold;
}

input[type="text"],
select,
textarea {
    outline: none;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: lightgray;
}

.flexRow {
    display       : flex;
    flex-direction: row;
}

.flexColumn {
    display       : flex;
    flex-direction: column;
}