.main-container {
    width : 50%;
    margin: auto;
}

.main-header {
    text-align: center;
}

.main-btns {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

#post-director,
#logout-btn {
    padding         : 1rem;
    width           : 300px;
    margin          : 1rem 0;
    border          : 1px solid #ccc;
    background-color: #f5f5f5;
    font-size       : large;
    font-weight     : bold;
}

#post-director:hover,
#logout-btn:hover {
    background-color: lightgray;
}

@media only screen and (max-width: 867px) {
    .main-container {
        width: 70%;
    }

    .main-btns {
        flex-direction: column;
    }

    #post-director,
    #logout-btn {
        width: 100%;
    }
}