.post-container {
    position        : relative;
    display         : flex;
    padding         : 1rem 2rem;
    margin          : 3rem auto;
    border          : 1px solid #ccc;
    border-radius   : 5px;
    background-color: #f5f5f5;
}

.post-content {
    font-size: 1.25rem;
}

.post-img {
    display      : block;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 1rem;
    width        : 60%;
    height       : auto;
}

.sp-btns {
    position : absolute;
    font-size: 1.25rem;
    right    : 3%;
    top      : 1.5rem;
}

.delete-btn,
.edit-btn {
    cursor       : pointer;
    transition   : 0.5s;
    margin-bottom: 1rem;
}

.delete-btn:hover,
.edit-btn:hover {
    font-size: 1.5rem;
    color    : #3d7ea6;
}

@media only screen and (max-width: 1024px) {
    .post-img {
        width: 100%;
    }

    .sp-btns {
        font-size: 1rem;
    }

    .delete-btn:hover,
    .edit-btn:hover {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 867px) {
    p {
        margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 425px) {
    .post-container {
        padding: 1rem;
    }
}