.post-container {
    position: relative;
    display : flex;
    padding : 1rem 2rem;
    margin  : 3rem auto;
    border  : 1px solid black;
}

.post-img {
    display     : block;
    margin-left : auto;
    margin-right: auto;
    width       : 80%;
    height      : auto;
}

.sp-btns {
    position: absolute;
    right   : 3%;
    top     : 3%;
}

.delete-btn,
.edit-btn {
    font-size    : 1.5rem;
    cursor       : pointer;
    transition   : 0.5s;
    margin-bottom: 1rem;
}

.delete-btn:hover,
.edit-btn:hover {
    font-size: 2rem;
    color    : #3d7ea6;
}

@media only screen and (max-width: 1024px) {
    .sp-btns {
        right: 4%;
        top  : 4%;
    }
}

@media only screen and (max-width: 867px) {
    .sp-btns {
        right: 5%;
        top  : 5%;
    }
}