.postcreator-container {
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.postcreator-header {
    text-align: center;
}

.post-form {
    padding: 1.5rem 0;
    width  : 60%;
    margin : auto;
}

.post-input {
    width        : 100%;
    height       : 3rem;
    font-size    : 1.2rem;
    padding      : 2rem 1.5rem;
    margin       : 1rem 0;
    border       : 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing   : border-box;
}

.post-input:focus,
.postcontent-input:focus {
    border : 1px solid #3d7ea6;
    outline: none;
}

.postcontent-input {
    width        : 100%;
    font-size    : 1.2rem;
    padding      : 2rem 1.5rem;
    margin       : 1rem 0;
    border       : 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing   : border-box;
    resize       : none;
}

.post-job {
    font-size    : 1.2rem;
    padding      : 1rem 1.5rem;
    margin       : 1rem 0;
    border       : 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing   : border-box;
}

.post-btns {
    display        : flex;
    justify-content: space-between;
    margin-top     : 1rem;
}

#post-btn,
#main-director {
    padding: 1rem;
    width  : 300px;
}

@media only screen and (max-width: 1024px) {

    #post-btn,
    #main-director {
        width: 250px;
    }
}

@media only screen and (max-width: 867px) {

    .post-btns {
        flex-direction: column;
    }

    .post-job{
        width: 100%;
        font-size: 1rem;
    }

    #post-btn,
    #main-director {
        width        : 100%;
        margin-bottom: 1rem;
    }
}